@import "src/variables";

:host {
  display: grid;
  height: 100%;
  width: 100%;

  .navigation-sidebar {
    display: grid;
    background-color: rgba($primary-100, 60%);
    grid-template-rows: auto 1fr;
    width: 100px;
    height: 100%;
    align-items: center;
    justify-items: center;

    .active {
      color: $accent-100;
    }
  }

  .logo {
    display: grid;
    padding-top: $base-padding * 4;
    width: 100%;
    align-items: center;
    justify-items: center;
    justify-self: start;
    line-height: initial;
    font-size: $title-big;
  }

  ul {
    margin: 0;
    padding: 0;
    text-align: center;

    li {
      list-style: none;
      font-size: $base-size * 3;
      padding-bottom: $base-padding * 5;

      .username-background {
        display: grid;
        align-items: center;
        background-color: $accent-100;
        border-radius: 50px;
        width: 50px;
        height: 50px;

        a {
          cursor: default;
        }
      }
    }
  }

  @media screen and (max-width: 950px) {
    .navigation-sidebar {
      grid-template-rows: unset;
      width: 100%;
      grid-template-columns: repeat(3, auto);
      margin-top: 16px;

      .logo {
        padding: 0;
      }

      .navigation-buttons {
        display: grid;
        grid-gap: $base-gap * 2;
        align-items: center;
        justify-items: center;
        grid-template-columns: repeat(2, auto);
      }

      .user-buttons {
        display: grid;
        grid-gap: $base-gap * 2;
        align-items: center;
        justify-items: center;
        grid-template-columns: repeat(2, auto);
      }

      ul li {
        padding-bottom: 0;

        .username-background {
          width: 40px;
          height: 40px;
        }
      }
    }
  }
}
