<div class='navigation-sidebar mat-elevation-z2'>
  <div class='logo'>
    <span>uTask</span>
  </div>
  <ul class='navigation-buttons'>
    <li>
      <a routerLink='../notes' routerLinkActive='active'>
        <mat-icon class='material-icons-outlined' matTooltip='notes'>description</mat-icon>
      </a>
    </li>
    <li>
      <a routerLink='../goals' routerLinkActive='active'>
        <mat-icon class='material-icons-outlined' matTooltip='goals'>emoji_events</mat-icon>
      </a>
    </li>
  </ul>
  <ul class='user-buttons'>
    <li>
      <div *ngIf='auth.$user | async as user' class='username-background'>
        <a [matTooltip]='user.displayName'>
          {{ user.displayName | getInitials }}
        </a>
      </div>
    </li>
    <li>
      <a>
        <mat-icon (click)='logOut()' class='material-icons-outlined' matTooltip='logout'>logout</mat-icon>
      </a>
    </li>
  </ul>
</div>
