@import "src/variables";
//width: 100%;
//}
//[_nghost-xju-c31] {
//  max-width: 1500px;
:host {
  display: grid;
  grid-gap: $base-gap * 5;
  width: 100%;
  height: 100%;
  justify-items: center;
  box-sizing: border-box;
  overflow: auto;

  .features-page-container {
    display: grid;
    justify-items: center;
    align-items: center;
    overflow: hidden;

    .features-page-introduction {
      display: grid;
      justify-items: center;
      align-items: center;

      .features-page-title {
        font-size: $title-big * 3;
        line-height: initial;
      }
    }

    .feature-container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      justify-items: center;
      align-items: center;
      text-align: center;
      height: 100%;
      grid-gap: $base-gap * 5;
      overflow: auto;

      .feature-description {
        width: 500px;

        p {
          text-align: justify;
        }
      }
    }
  }

  @media screen and(max-width: 950px) {
    .features-page-container {
      .features-page-introduction {
        .features-page-title {
          font-size: $title-big * 2;
          padding-bottom: $base-padding * 3;
        }
      }

      .feature-container {
        padding: $base-padding * 4;
        grid-template-columns: 1fr;

        .feature-description {
          width: unset;
        }

        .feature-image img {
          max-width: 100%;
          height: auto;
        }
      }
    }
  }
}
