@use "@angular/material" as mat;
@import "palette";

@include mat.core(); //core is a the basic styling for material

$note-app-primary: mat.define-palette($note-app-palette, 50, 100, 400);
$note-app-accent: mat.define-palette($note-app-palette, A100, A200, A400);
$note-app-warn: mat.define-palette($note-app-palette, A700);

$note-app-theme: mat.define-light-theme(
    (
      color:(
        primary: $note-app-primary,
        accent: $note-app-accent,
        warn: $note-app-warn
      )
    )
);

.note-app-theme {
  @include mat.all-component-themes($note-app-theme);
  color: white;
}
