<app-navigation-sidebar></app-navigation-sidebar>
<div class="goal-component-container">
  <mat-accordion class="add-goal" multi>
    <mat-expansion-panel [formGroup]="addGoalForm">
      <mat-expansion-panel-header>
        <mat-panel-title>Make a goal</mat-panel-title>
      </mat-expansion-panel-header>
      <div class="goal-form">
        <mat-form-field appearance="outline" color="accent">
          <mat-label>Title</mat-label>
          <input autocomplete="false" formControlName="title" matInput type="text" />
          <mat-error>Max 30 characters</mat-error>
        </mat-form-field>
        <div class="content-form-array" formArrayName="content">
          <ng-container *ngFor="let control of content?.controls; index as i; last as isLast">
            <div class="content-container">
              <mat-form-field appearance="outline" class="content-input" color="accent">
                <mat-label>Content</mat-label>
                <input [formControlName]="i" autocomplete="false" matInput maxlength="40" min="1" type="text" />
                <mat-error>Max 27 characters</mat-error>
              </mat-form-field>
              <div class="content-buttons">
                <button (click)="removeInputControl(i)" *ngIf="content?.length > 1" color="warn" mat-mini-fab>-</button>
                <button (click)="addInputControl()" *ngIf="isLast" color="accent" mat-mini-fab>+</button>
              </div>
            </div>
          </ng-container>
        </div>
        <div class="goal-buttons">
          <button (click)="addGoal()" [disabled]="addGoalForm.invalid || addGoalForm.pristine" color="accent" mat-raised-button>Save</button>
        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>

  <div class="goals-container">
    <div *ngFor="let goal of goals; let i = index" class="goal-container mat-elevation-z2">
      <div class="goal-header-container">
        <h2 class="goal-title">{{ goal.title }}</h2>
      </div>
      <div class="mat-elevation-z2"></div>
      <div class="goal-body-container mat-elevation-z2">
        <div *ngFor="let content of goal.content; let j = index" class="goal-content">
          <mat-checkbox (change)="onGoalContentChanged($event, goal.content[j], goal)" [checked]="goal.content[j].isChecked"></mat-checkbox>
          <!--          <span (keyup)="editGoal(content.value)" class="goal-body" contenteditable="true">{{ goal.content[j].value }}</span>-->
          <input (keyup)="editGoal($event, goal.content[j], goal)" class="goal-body" maxlength="27" value="{{ goal.content[j].value }}" />
        </div>
      </div>
      <div class="goal-buttons">
        <button (click)="deleteGoal(goal.id)" mat-icon-button>
          <mat-icon class="material-icons-outlined" matTooltip="delete">delete</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>
