@import "src/variables";

:host {
  display: grid;
  grid-template-rows: auto 1fr;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  justify-items: center;
  align-items: center;

  .sign-up-container {
    display: grid;
    justify-items: center;
    background-color: rgba($primary-100, 60%);
    padding: $base-padding * 5 $base-padding * 10;
    border-radius: 4px;

    .sign-up-form {
      display: grid;
      justify-items: center;
      grid-gap: $base-gap * 2;

      mat-form-field {
        width: 100%;
      }

      button {
        width: 100%;
      }
    }

    .sign-up-questions {
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: $base-gap * 5;
      padding-top: $base-padding * 2 + 21px;
    }
  }

  @media screen and (max-width: 950px) {
    .sign-up-container {
      padding: $base-padding * 5;
    }
  }
}
