<router-outlet></router-outlet>
<div class="landing-page-container">
  <div class="landing-page-logo">
    <h1>Dream. Plan. Achieve.</h1>
  </div>
  <div class="landing-page-button">
    <button color="accent" mat-raised-button routerLink="/features">Get Started</button>
  </div>
</div>
