@import "src/variables";

:host {
  display: grid;
  align-items: center;
  justify-items: center;
  height: 100%;
  overflow: hidden;

  app-navigation-bar {
    width: 100%;
  }

  router-outlet {
    position: absolute;
  }

  .landing-page-container {
    display: grid;
    grid-template-rows: auto 1fr;
    grid-gap: $base-gap * 5;
    justify-items: center;
    width: 100%;

    .landing-page-logo {

      h1 {
        line-height: initial;
        font-size: 6vw;
      }
    }
  }
}
