@import "src/variables";

:host {
  display: grid;
  grid-template-columns: auto 1fr;
  height: 100%;
  width: 100%;
  overflow: hidden;

  .note-component-container {
    display: grid;
    grid-template-rows: auto 1fr;
    grid-gap: $base-gap * 4;
    width: 100%;
    height: 100%;
    justify-items: center;
    padding: $base-padding * 4;
    box-sizing: border-box;
    overflow: hidden;

    .note-form {
      display: grid;
    }

    .note-buttons {
      display: grid;
      align-items: center;
      grid-gap: $base-gap;
      grid-template-columns: 1fr 1fr;

      input {
        color: white;
      }

      mat-datepicker-toggle {
        color: white;
      }

      .date-picker {
        width: 220px;
        padding-top: 1.34375em;
      }

      button {
        height: 40px;
      }

      .note-actions {
        justify-self: end;

        mat-form-field {
          display: none;
        }
      }
    }


    button {
      width: max-content;
    }
  }

  .notes-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: $base-gap * 4;
    overflow: auto;

    .note-container {
      display: grid;
      grid-template-rows: auto .05fr 1fr auto;
      justify-items: center;
      background-color: rgba($primary-100, 60%);
      width: 250px;
      height: 300px;
      overflow: hidden;
      border-radius: 4px;

      .note-header-container {
        display: grid;
        justify-items: center;
        width: 100%;
        height: 100%;

        .note-title {
          margin: 0;
          overflow-wrap: anywhere;
        }

        .note-date-container {
          width: max-content;
          background-color: rgba($primary-300, .5);
          border-radius: 4px;
          padding-left: $base-padding;
          padding-right: $base-padding;

          .note-date {
            display: inline;
          }
        }
      }

      .note-body-container {
        display: grid;
        width: 100%;
        height: 100%;
        background-color: rgba($primary-200, .3);
        overflow: hidden;

        .note-body {
          display: block;
          justify-self: start;
          overflow-wrap: anywhere;
          overflow: auto;
          padding: $base-padding;
        }
      }
    }
  }
}

@media screen and (max-width: 950px) {
  :host {
    display: grid;
    grid-template-columns: unset;
    grid-template-rows: auto 1fr;
    height: 100%;
    width: 100%;
    overflow: hidden;

    .notes-container {
      grid-template-columns: 1fr 1fr;
      grid-gap: $base-gap;

      .note-container {
        width: 180px;
        height: 250px;
      }
    }
  }
}
