<app-navigation-sidebar></app-navigation-sidebar>
<div class="note-component-container">
  <mat-accordion class="add-note" multi>
    <mat-expansion-panel [formGroup]="addNoteForm">
      <mat-expansion-panel-header>
        <mat-panel-title>Take a note</mat-panel-title>
      </mat-expansion-panel-header>
      <div class="note-form">
        <mat-form-field appearance="outline" color="accent">
          <mat-label>Title</mat-label>
          <input autocomplete="false" formControlName="title" matInput type="text" />
          <mat-error>Max 30 characters</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" color="accent">
          <mat-label>Content</mat-label>
          <textarea autocomplete="false" formControlName="content" matInput min="1" type="number"></textarea>
        </mat-form-field>
      </div>
      <div class="note-buttons">
        <button (click)="addNote()" [disabled]="addNoteForm.invalid || addNoteForm.pristine" color="accent" mat-raised-button>Save</button>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
  <div class="notes-container">
    <div *ngFor="let note of notes; let i = index" class="note-container mat-elevation-z2">
      <div class="note-header-container">
        <h2 class="note-title">{{ note.title }}</h2>
      </div>
      <div class="mat-elevation-z2"></div>
      <div class="note-body-container mat-elevation-z2">
        <span class="note-body">{{ note.content }}</span>
      </div>
      <div class="note-buttons">
        <button (click)="deleteNote(note.id)" mat-icon-button>
          <mat-icon class="material-icons-outlined" matTooltip="delete">delete</mat-icon>
        </button>
        <button mat-icon-button>
          <mat-icon (click)="editNote(note)" class="material-icons-outlined" matTooltip="edit">edit</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>
