@import "src/variables";

:host {
  display: grid;
  height: 100%;
  width: 100%;
  overflow: hidden;

  .dialog-container {
    display: grid;
    grid-template-rows: auto .05fr auto;
    justify-items: center;
    background-color: $panel-background;
    overflow: hidden;
    border-radius: 4px;

    mat-label {
      color: $accent-100;
    }

    .dialog-header-container {
      display: grid;
      width: 100%;
      height: 100%;

      mat-form-field {
        padding: $base-padding;
      }
    }

    .dialog-body-container {
      display: grid;
      width: 100%;
      height: 100%;
      background-color: rgba($primary-200, .3);

      mat-form-field {
        padding: $base-padding;
      }

      textarea {
        height: 420px;
        resize: none;
      }
    }

    .dialog-button-container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: $base-gap;
    }
  }
}
