<div [formGroup]="dialogForm" class="dialog-container">
  <div class="dialog-header-container">
    <mat-form-field appearance="outline" color="accent">
      <mat-label>Title</mat-label>
      <input autocomplete="false" formControlName="title" matInput type="text" />
    </mat-form-field>
  </div>
  <div class="dialog-body-container">
    <mat-form-field appearance="outline" color="accent">
      <mat-label>content</mat-label>
      <textarea autocomplete="false" formControlName="content" matInput type="text"></textarea>
    </mat-form-field>
  </div>
  <div class="dialog-button-container">
    <button (click)="closeDialog()" color="primary" mat-raised-button>Cancel</button>
    <button (click)="closeDialog(true)" color="accent" mat-raised-button>Save</button>
  </div>
</div>
