@import "../../../../variables";

:host {
  width: 100%;

  .navigation-bar {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    background-color: rgba($primary-100, 60%);
    padding: $base-padding * 2 $base-padding * 20;
    box-sizing: border-box;

    .logo {
      display: grid;
      align-items: center;
      justify-items: center;
      justify-self: start;
      font-size: $title-big * 2;
    }

    ul {
      display: grid;
      grid-gap: $base-gap * 8;
      list-style: none;
      align-items: center;
      justify-items: center;
      justify-self: end;
      grid-template-columns: repeat(4, max-content);
      margin: 0;

      .active {
        color: $accent-100;
      }

      button {
        justify-self: start;
      }
    }
  }

  .navigation-bar-mobile {
    display: none;
  }

  @media screen and(max-width: 950px) {
    .navigation-bar {
      display: none;
    }
    .navigation-bar-mobile {
      display: grid;
      background-color: rgba($primary-100, 60%);
      grid-template-columns: 1fr auto;
      margin-top: $base-padding * 2;
      padding: $base-padding $base-padding * 3;

      button {
        color: white;
      }

      .logo {
        display: grid;
        align-items: center;
        justify-items: center;
        justify-self: start;
        font-size: $title-big;
      }
    }
  }
}
