@import "src/variables";

:host {
  display: grid;
  grid-template-rows: auto 1fr;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  justify-items: center;
  align-items: center;

  .log-in-container {
    display: grid;
    justify-items: center;
    background-color: rgba($primary-100, 60%);
    padding: $base-padding * 5;
    border-radius: 4px;

    h1 {
      margin: 0;
      padding-bottom: $base-padding * 2;
    }

    .log-in-form {
      display: grid;
      justify-items: center;
      grid-gap: $base-gap * 2;

      mat-form-field {
        width: 100%;
      }

      button {
        width: 100%;
      }
    }

    .log-in-questions {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: $base-gap * 5;
      padding-top: $base-padding * 2 + 21px;

      span {
        color: gray;
      }
    }
  }

  @media screen and (max-width: 950px) {
    .log-in-container {
      .log-in-questions {
        grid-template-columns: 1fr;
        grid-gap: $base-gap;
        padding-top: $base-padding * 3;
      }
    }

  }
}
