@use "sass:math";
@use "@angular/material" as mat;
@import "scss/theming/palette";

$base-size: 8px;
$base-padding: $base-size;
$base-gap: $base-size;
$base-height: $base-size * 5;

$default-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
$z2-box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
$default-easing: cubic-bezier(0, 0, 0.2, 1);
$inverse-easing: cubic-bezier(0.4, 0, 0.6, 1);
$smooth-content-transition: all 0.5s $default-easing;

// Colors
$blue: #4cb8cb;
$green: #4ccb97;
$yellow: #e7d78c;
$orange: #e7b687;
$red: #ff7471;
$dark-red: #c44d4d;

//Primary colors
$primary-50: mat.get-color-from-palette($note-app-palette, 50);
$primary-100: mat.get-color-from-palette($note-app-palette, 100);
$primary-200: mat.get-color-from-palette($note-app-palette, 200);
$primary-300: mat.get-color-from-palette($note-app-palette, 300);
$primary-400: mat.get-color-from-palette($note-app-palette, 400);
$primary-500: mat.get-color-from-palette($note-app-palette, 500);
$primary-600: mat.get-color-from-palette($note-app-palette, 600);
$primary-700: mat.get-color-from-palette($note-app-palette, 700);
$primary-800: mat.get-color-from-palette($note-app-palette, 800);
$primary-900: mat.get-color-from-palette($note-app-palette, 900);

$primary-contrast-50: mat.get-contrast-color-from-palette($note-app-palette, 50);
$primary-contrast-100: mat.get-contrast-color-from-palette($note-app-palette, 100);
$primary-contrast-200: mat.get-contrast-color-from-palette($note-app-palette, 200);
$primary-contrast-300: mat.get-contrast-color-from-palette($note-app-palette, 300);
$primary-contrast-400: mat.get-contrast-color-from-palette($note-app-palette, 400);
$primary-contrast-500: mat.get-contrast-color-from-palette($note-app-palette, 500);
$primary-contrast-600: mat.get-contrast-color-from-palette($note-app-palette, 600);
$primary-contrast-700: mat.get-contrast-color-from-palette($note-app-palette, 700);
$primary-contrast-800: mat.get-contrast-color-from-palette($note-app-palette, 800);
$primary-contrast-900: mat.get-contrast-color-from-palette($note-app-palette, 900);

//Accent colors
$accent-400: mat.get-color-from-palette($note-app-palette, A400);
$accent-200: mat.get-color-from-palette($note-app-palette, A200);
$accent-100: mat.get-color-from-palette($note-app-palette, A100);

$accent-contrast-400: mat.get-contrast-color-from-palette($note-app-palette, A400);
$accent-contrast-200: mat.get-contrast-color-from-palette($note-app-palette, A200);
$accent-contrast-100: mat.get-contrast-color-from-palette($note-app-palette, A100);

//Background colors
$window-background: $primary-50;
$panel-background: $primary-100;

//Fonts
$title: 17px;
$title-big: 27px;
