@import "src/variables";

.note-app-theme {

  .mat-menu-panel {
    background-color: $primary-100;
  }

  .mat-focus-indicator {
    color: white;
  }

  .mat-input-element {
    caret-color: $accent-100;
    color: white;
  }

  .mat-form-field-appearance-legacy .mat-form-field-underline {
    background-color: $primary-900;
  }

  .mat-form-field.mat-focused .mat-form-field-ripple {
    background-color: $accent-100;
  }

  .mat-form-field-ripple {
    background-color: $accent-100;
  }

  .mat-dialog-container {
    padding: 0;
  }

  .mat-date-range-input-separator {
    color: white;
  }

  .mat-tooltip {
    background: $primary-200;
  }

  .mat-button-base:not(.mat-icon-button, .btn-color) {
    font-size: 16px;
    font-weight: 300;
    padding: 2px 16px 2px 16px;
  }

  .mat-stroked-button.mat-primary {
    &:not(.mat-button-disabled) {
      border: 1px solid $primary-900;
      color: $primary-900;
    }
  }

  .mat-stroked-button.mat-accent {
    &:not(.mat-button-disabled) {
      border: 1px solid $accent-100;
      color: $accent-100;
    }
  }

  .mat-form-field-label, .mat-form-field-appearance-outline .mat-form-field-outline, mat-card-title, .mat-card {
    color: $primary-900;
  }

  .mat-divider {
    border-top-color: $primary-900;
  }

  .mat-card .mat-divider-horizontal {
    position: relative;
  }

  mat-card-title {
    font-size: 20px;
    font-weight: 100;
  }

  .mat-raised-button {
    background: $primary-200;

    .mat-button-wrapper {
      color: $primary-900;
    }

    &.mat-primary {
      background: $primary-500;
    }

    &.mat-accent {
      background: $accent-100;
    }
  }

  .mat-accordion {
    width: 60%;

    .mat-input-element {
      color: white;
    }

    .mat-expansion-panel {
      background-color: rgba($primary-100, 60%);
    }

    .mat-expansion-panel-header {
      .mat-expansion-panel-header-title {
        color: white;
        justify-content: center;
      }

      .mat-expansion-indicator::after {
        color: white;
      }
    }

    .mat-expansion-panel-body {
      display: grid;

      textarea {
        resize: none;
      }
    }
  }

  .mat-icon {
    color: unset;
  }

  @media screen and(max-width: 950px) {
    .mat-accordion {
      width: 100%;
    }
  }
}
